* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;

}
.logo div{
    width: 46px;
    height: auto;
}
.logo p{
    font-weight: bold;
    font-size: 2rem;
    margin-left: .8rem;
}
.logo p>span{
    color: #09e95f;
}
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-ctn {
    border-bottom: 1px black solid;
}

.navbar {
    max-width: 1536px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 2rem 0;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links>*:not(:first-child){
    margin-left: 2rem;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16rem 0rem;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.section .illustration{
    width: 100%;
}

.first-section > .illustration{
    max-width: 600px;
    flex: 1;
    width: 100%;    
}
.nav-item{
    display: block;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 3rem 1rem;
}

.nav-item:not(:first-child){
}

.signup-btn{
    display: block;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 2rem 4rem;
    background-color: black;
    border-radius: 1rem;
    color: white;
}



.main-title{
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 6rem;
    margin-bottom: 1.2rem;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 68rem;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-desc{
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    opacity: 0.7;
}
.illustration{
    flex: 1;

    max-width: 640px;
}
img{
    width: 100%;
    height: auto;
}

.first-section{
    flex-direction: row-reverse;
    
}
.first-section .text-content{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       flex: 1;
       max-width: 600px;
}
.text-content{
    position: relative;
}

.shades{
    position: absolute;
    top:-100%;
    left: 20;
}

ul{
 
}


.fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    list-style-type: none;
    display: flex;
    align-items: center;
}
li::before{
    content: '';
    display: block;
    margin-right: 1rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

.hero-illustration{
    position: relative;
}
.hero-illustration > img{
    z-index: 100;
}
.shapes{
    position: relative;
}
.shapes >*{
    border-radius: 50%;
    z-index: -1;
}

.yellow-circle{
    width: 62rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFC107;
    border-radius: 50%;
    height: 62rem;
    top: -30%;
    z-index: -2;
}
.blue-circle{
    position: absolute;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background-color: #03a9f4;
    top: -20%;
    left: -15%;
    z-index: -1;

}
.green-circle{
    position: absolute;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    background-color: #00bcd4;
    bottom: -15%;
    right: -15%;
    z-index: -1;

}



.fourth-section{
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
}
.fourth-section .illustration{
    max-width: 1000px;
    margin-bottom: -5px;
}

.fourth-section .blue-circle{
    position: absolute;
    width: 650px;
    height: 650px;
    left: 50%;
    transform: translateX(-50%);
    top:50%;
}
.fourth-section .yellow-circle{
    position: absolute;
    width: 124px;
    height: 124px;
    top: 30%;
    left: 34%;
    z-index: 999;
}

.fourth-section .green-circle{
    width: 160px;
    height: 160px;
    right: 34%;
    bottom: 16%;
}
